.header{
    position:sticky;
    top:0;
}

.card{
    box-shadow: 1rem 5px 5px black;
  }
  
.card-btn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}


#card{
    height:30rem;
}

#top-container{
    margin-top:0.1rem;
    height:25.8rem;
    overflow:hidden;
}

.card-holder{
    margin-top:0.2rem;
}