{% extends 'base.html' %}

{% block title %}Testing Suite{% endblock %}
{% block extra_stryle %}<link rel="stylesheet" href="{{ url_for('static', filename='testing.css') }}">{% endblock %}
{% block content %}

<div class ="container">
    <div class="row">
        <div class="col-8 ">
            <div class="container shadow p-2 my-2 rounded overflow-scroll" style="height:26rem;" id="results_table_container">           
                <table class="results-table table table-bordered table-hover">
                    <tr>
                        <th class="bg-dark text-light">ID</th>
                        <th class="bg-dark text-light">Date</th>
                        <th class="bg-dark text-light">Scenario</th>
                        <th class="bg-dark text-light">Result</th>
                    </tr>
                    <tbody id="t-body-results"></tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <div class="container shadow p-2 my-2 rounded">
                <table class="table table-hover my-auto table-bordered status-table">
                    <tr>
                        <th scope="row">All Pages:</th>
                        <td id="pages_date">Active</td>
                    </tr>
                    <tr>
                        <th scope="row">Repair Form:</th>
                        <td id="repair_date">Active</td>
                    </tr>
                    <tr>
                        <th scope="row">Footer Links:</th>
                        <td id="footer_date">Active</td>
                    </tr>
                    <tr>
                        <th scope="row">User Functions:</th>
                        <td id="users_func_date">Failed</td>
                    </tr>
                </table>
            </div>
            <div class="container shadow p-2 my-2 bg-white rounded text-dark">
                <p class="text-center">Run Test</p>
                <select class="form-control" id="test_2_run" required>
                    <option value="pages">Pages Status</option>
                    <option value="repair">Repair Form Functions</option>
                    <option value="footer">Footer Functions</option>
                    <option value="user_funcs">Useabillity Functions</option>
                </select>
                <button class="btn btn-md btn-danger my-2 w-100" id="run_test_btn">Run</button>
                <div id="alert">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block jscript %}
<script src="{{url_for('static', filename='testing.js')}}"></script> 
{% endblock %}